<style>
    
body {
font-family: 'Raleway', sans-serif;
background: {color:background};
color: {color:text};
font-size:1rem;
}
p {
font-family: 'Raleway', sans-serif;
font-size:0.75rem;
font-weight: 300;
line-height: 12px;
}
a {
color:{color:link};
text-decoration: none;
transition: all 0.3s;
}
a:hover {
color:{color:accent2};
text-decoration: none;
}
blockquote {
border-left:0;
padding:0;
}
ul:not(.navbar-nav) {
list-style:none;
text-align:left!important;
padding-left:0;
}
ul:not(.navbar-nav) li {
position:relative;
padding-left:30px;
line-height:13px;
font-size:12px;
color:{color:text};
}
ul:not(.navbar-nav) li:before {
position:absolute;
left:15px;
vertical-align:baseline!important;
font-family: "FontAwesome";
content:'\f096';
-moz-transition-duration:0.4s;
-webkit-transition-duration:0.4s;
-o-transition-duration:0.4s;
} 
ul:not(.navbar-nav) li:hover:before {
color:{color:accent1};
position:absolute;
vertical-align:baseline!important;
font-family: "FontAwesome";
content:'\f046';
-moz-transition-duration:0.4s;
-webkit-transition-duration:0.4s;
-o-transition-duration:0.4s;
} 
i, span {
display: inline-block;
}
/* container for everything */

.my-container {
   display: flex;
   height: 100vh;
   width: 100vw;
   overflow: hidden;
   flex-direction: row;
   flex-wrap: nowrap;
}

/* colored sidebar */

.sidebar {
   width: 80px;
   height: 100vh;
   margin-right:20px;
  -webkit-box-shadow: 2px 6px 15px 1px rgba(0,0,0,0.20);
-moz-box-shadow: 2px 6px 15px 1px rgba(0,0,0,0.20);
box-shadow: 2px 6px 15px 1px rgba(0,0,0,0.20);
   min-width: 80px;
   transition: 0.3s all;
   opacity: 1;
    background: {color:accent1}; 
   background: -moz-linear-gradient(top, {color:accent1} 0%, {color:accent2} 100%); 
background: -webkit-linear-gradient(top, {color:accent1} 0%, {color:accent2} 100%); 
background: linear-gradient(to bottom, {color:accent1} 0%,{color:accent2} 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='{color:accent1}', endColorstr='{color:accent2}',GradientType=0 ); 
}

.sidebar .sidebar-header strong {
   display: block;
}

.sidebar ul {
   position: relative;
   content: none;
}

.sidebar ul li a {
   text-align: left;
   padding: 20px 10px;
   text-align: center;
   font-size: 0.85em;
   text-decoration: none !important;
   color:{color:sidebarLink};
}

.sidebar ul li {
   padding: 0;
   font-size: 15px;
}

.sidebar ul li:before {
   display: none;
}

.sidebar ul li a i {
   margin-right: 0;
   display: block;
   font-size: 1.8em;
   margin-bottom: 5px;
}



.sidebar-header {
   width: 80px;
   height: 80px;
   overflow: hidden;
   box-shadow: rgba(0, 0, 0, .1) 1px 1px 20px;
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
   background-image:url({image:sidebar avatar}),
   url({PortraitURL-128});
}

.sidebar .sidebar-header strong {
   display: none;
   font-size: 1.8em;
}

.sidebar ul.components {
   padding: 20px 0;
}

.sidebar ul li a {
   padding: 10px;
   display: block;
}

.sidebar ul li a:hover,
a[aria-expanded="true"] {
   color: {color:accent1}!important;
   text-decoration:none !important;
   box-shadow: 8px 8px 10px rgba(68, 68, 68, 0.1);
   background: {color:sidebarLink}!important;
   -webkit-transition: all 0.25s;
   -moz-transition: all 0.25s;
   -o-transition: all 0.25s;
   transition: all 0.25s;
}

.sidebar ul li a i {
   margin-right: 10px;
}

.sidebar ul li>a,
a[aria-expanded="true"] {
   color: {color:sidebarLink};
}

a[data-toggle="collapse"] {
   position: relative;
}

a[aria-expanded="false"]::before,
a[aria-expanded="true"]::before {
   content: '\e259';
   display: block;
   position: absolute;
   right: 20px;
   font-family: 'Glyphicons Halflings';
   font-size: 0.6em;
}

a[aria-expanded="true"]::before {
   content: '\e260';
}

a[aria-expanded="false"]::before,
a[aria-expanded="true"]::before {
   top: auto;
   bottom: 5px;
   right: 50%;
   -webkit-transform: translateX(50%);
   -ms-transform: translateX(50%);
   transform: translateX(50%);
}

.sidebar {
   margin-left: 0 !important;
}

.sidebar .sidebar-header strong {
   display: block;
}

.sidebar ul li a {
   padding: 20px 10px;
}

.sidebar ul li a i {
   margin-right: 0;
   display: block;
   font-size: 1.3em;
}

.sidebar ul ul a {
   padding: 10px !important;
}

/* sidebar with image */

.img-sidebar {
   min-width: 350px;
   max-width:450px;
   width:100%;
   height: 100vh;
   background:{color:background};
   transition: 0.3s all;
   opacity: 1;
   display:flex;
   align-items:center;
   justify-content:center;
}

#titleSidebar {
text-align:left;
padding:0px 0px 0px 0px;
{block:IfNotShowSidebar}
left:90px;
{/block:IfNotShowSidebar}
width:300px;
background:{color:post background};
box-shadow: 3px 3px 10px rgba(68, 68, 68, 0.1);
border-radius:{text:border radius}px;
visibility: visible!important;
opacity: 1;
transition: visibility 0s, opacity 0.5s linear;
}
#titleSidebar img {
border-top-left-radius:{text:border radius}px;
border-top-right-radius:{text:border radius}px;
width:300px;
}
#blogtitle {
height:auto;
max-width:200px;
width:auto;
position:relative;
left:50%;
transform:translate(-50%, -50%);
border-radius:20px;
padding:8px 20px 8px 20px;
letter-spacing:2px;
line-height:12px;
background:{color:post background};
text-align:center;
box-shadow: rgba(0,0,0,.08) 1px 1px 1px 1px;
font-weight:lighter;
font-size:12px;
z-index:999999999;
}
#description {
padding:10px 20px 10px 30px;
font-family:'Raleway', Arial;
text-align: center;
font-size:12px;
}
#pagination {
padding:10px 10px 10px 20px;
text-align: center;
font-size:12px;
}
#pagination a, .current_page {
background:{color:accent1};
color:{color:post background};
border-radius:50%;
display: inline-block;
position:relative;
width: 25px;
margin-right:5px;
height: 25px;
line-height:25px;
border-radius: 25px;
font-size:11px;
}
.current_page, #pagination a:hover {
color:{color:accent2};
background:{color:post background};
border: 1px solid {color:accent2};;
}
/*small sidebar for smaller screen sizes*/
#menu a {
background:{color:post background};
text-align:center;
font-size:20px;
margin-left:10px;
vertical-align:middle;
width:40px;
height:40px;
display:block!important;
}
#menuLinks {
margin-top:110px;
position:relative;
}
#mainlinks a, #menu a {
display:inline-block;
font-size:15px;
width:30px;
height:30px;
color:{color:text};
margin-right:10px;
line-height:30px;
border-radius:5px;
}
#mainlinks a:hover, #menu a:hover {
background:{color:accent1};
color:{color:post background};
box-shadow: 3px 3px 10px rgba(68, 68, 68, 0.2);
}
#mainlinks {
border-top: 1px solid {color:border};
text-align:center;
padding:10px;
padding-left:15px;
margin-top:10px;
}
#menu {
height:100vh;
background:{color:post background};
position:fixed;
bottom:0;
top:0;
width:60px;
left:80px;
{block:IfNotShowSidebar}
left:0;
{/block:IfNotShowSidebar}
padding:5px 5px 5px 5px;
text-align:center;
box-shadow: rgba(0,0,0,.1) 1px 1px 10px;
z-index:1;
opacity:0;
}
#menu .home {
{block:IndexPage}
background:{color:accent1}!important;
color:{color:post background}!important;
{/block:IndexPage}
}

.topbar,
{
   height: 0px;
   overflow: hidden;
   width:0px;
   transition: 0.3s all;
}

/* container for posts */

.posts-container {
   width: 100%;
   height: 100vh;
   overflow: auto;
   background: {color:background};
   text-align:center;
   padding-top:25px;
   padding-bottom:40px;
}




.posts {
   max-width:{text:max post width}px;
   padding-bottom:25px;
   padding-top:25px;
   width:100%;

   padding-right:15px;
}

.posts img {
max-width:{text:max post width}px;
}





.photo-slideshow .row {
display:block!important;

}
#itemsbelow img {
max-width:100%;
}
#upperstuff {
font-size:90%;
letter-spacing:1px;
text-align:left;
background:none;
display:inline-block!important;
width:100%;
margin:0 auto;
padding-bottom:10px;
}


#usericon {
display:inline-block!important;
margin-top:12px;
overflow:visible;
box-shadow: 3px 3px 10px rgba(68, 68, 68, 0.1);
width:auto;
height:auto;
border-radius:50%;

}
#usericon img {
width:30px;
vertical-align:bottom;
border-radius:50%;
top:10px;
}


.topurl {
text-align:center;
border:1px solid {color:border};
border-radius:25px;
padding-right:10px;
padding-left:10px;
text-overflow: ellipsis;
white-space: nowrap;
box-shadow: 3px 3px 10px rgba(68, 68, 68, 0.1);
max-width:30%;
overflow: hidden;
max-width:180px;
line-height:30px;
background:{color:post background};
margin-top:14px;
margin-left:5px;
display:inline-block!important;
vertical-align:top;
height:30px;
}


#itemsbelow {
box-shadow: 3px 3px 10px rgba(68, 68, 68, 0.1);
border:1px solid {color:border};
max-width:100%;
overflow:hidden;
background:{color:post background};
}
/* ---------------------------------------------------
TAGS
----------------------------------------------------- */
#tags {
width:100%;
text-transform:none;
margin-left:-14px;
font-size:11px;;
padding-left:25px;
text-align:left;
padding-bottom:12px;
opacity:0.8;
}

#tags a {
color:{color:text};
margin-left:-3px;
font-weight:400;
padding-right:5px;
}

#tags a:hover {
color:{color:accent1};
}

#postlink a {
color:{color:link};
}

#postlink a:hover{
color:{color:accent2};
}
/* ---------------------------------------------------
POST TITLES AND ACCENT TITLES
if you want a gradient title in one of your pages, place
your desired title in between the following tags:
<div class="title2">...</div>
----------------------------------------------------- */
#title, #title2 {
font-size:15px;
font-weight:500;
border:1px solid {color:titleborder}!important;
font-size:90%;
letter-spacing:1px;
color:{color:text};
background-color:{color:titlebg};
line-height:19px;
margin-bottom:10px;
padding:10px 10px 10px 10px;
text-align:left;
transition: all 0.5s;
box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.12), 0 3px 10px 0 rgba(0, 0, 0, 0.12);
}
#title:hover, #title2:hover {
color:{color:sidebarLink};
}
#title a, #title2 a {
color:{color:accent1};
}
#title:hover #postlink a, #title2:hover #postlink a {
color:{color:post background};
}
.posts:hover #title, #listset:hover #title2 {
color:{color:post background};
background-color: {color:accent1};
background-color: -moz-linear-gradient(left, {color:accent1} 0%, {color:accent2} 100%); /* FF3.6-15 */
background-color: -webkit-linear-gradient(left, {color:accent1} 0%, {color:accent2} 100%); /* Chrome10-25,Safari5.1-6 */
background-color: linear-gradient(to right, {color:accent1} 0%,{color:accent2} 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='{color:accent1}', endColorstr='{color:accent2}',GradientType=0 ); /* IE6-9 */
transition: all 0.5s;
}
#listset:hover #title2 a {
color:{color:post background};
}
#title:hover a, #title2:hover a {
color:{color:post background};
}
#title:hover a:hover, #title2:hover a:hover {
color:{color:link};
}
#title2 {
width: 100%;
font-size:13px;
letter-spacing:1px;
line-height: 15px;
text-align:left;
}
.posts:hover #title a {
color:{color:text};
}
/* ---------------------------------------------------
POST CONTENT
----------------------------------------------------- */
.caption {
text-align:left;
width:100%;
padding-right:5px;
padding-bottom:5px;
padding-top:10px;
overflow:hidden;
word-wrap:;
white-space:normal;
}
.tumblr_parent {
padding-left:0px;
margin-left:20px;
font-size:90%;
}
.tumblr_parent a:hover {
color:{color:accent2};
}
.tumblr_parent a {
color:{color:link};
}
a.tumblr_blog {
font-size:90%;
letter-spacing:1px;
text-decoration:underline;
-moz-transition-duration:0.4s;
-webkit-transition-duration:0.4s;
-o-transition-duration:0.4s;
border-left:none!important;
font-weight:500;
line-height:3;
}
/*permalink and notes*/
#titlequote {
padding:10px 20px 10px 20px;
text-align:left;
font-size:12px;
margin-left:-7px;
line-height:17px;
font-weight:400;
}
#source {
padding:0px 10px 10px 10px;
margin-top:0px;
text-align:left;
margin-bottom:11px;
font-size:90%;
text-transform:uppercase;
margin-left:0px;
}
/*asks*/
.q {
padding:15px 30px 5px 30px;
height:110%;
font-size:12px;
color:{color:text};
border-left:1px solid {color:titleborder};
border-right:1px solid {color:titleborder};
margin-top:-10px;
overflow:hidden;
text-align:left;
margin-left:-10px;
}
#asker {
text-transform:lowercase;
}
.posts:hover #asker a {
color:{color:titleLinkOnHover};
}
.posts:hover #asker a:hover {
color:{color:post background};
}
/*chat*/
.chat ol {
padding:0;
list-style:none;
}
.line {
padding:0px 0;
}
.label {
font-weight:400;
}


/*audio*/

#audioplayer {
width:25px;
height:25px;
margin-top:-35px;
margin-left:12px;
opacity:.7;
overflow:hidden;
vertical-align:top;
z-index:999999;
}
#albumart iframe{
margin-left:-4px!important;
margin-top:-3px!important;
z-index:10;
top:0;
display:absolute;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#albumart {
display:inline-block;
z-index:1;
height:49px;
width:49px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.video {
width:100%; 
max-width:{text:max post width}px!important;
display:block; 
height:auto;
overflow:hidden;
position:relative!important;
line-height:0px;
height:auto;
overflow-y:hidden;
}

.video .tumblr_video_container {
width:inherit!important;
height:inherit!important;
max-width:{text:max post width}px!important;
}
.video iframe {
display:inline-block!important;
position:relative!important;
background-color: transparent!important;
overflow: hidden!important;
transform:transformY(-10%);
margin: 0!important;
margin-top:-50%;
width:inherit!important;
data-height:auto;
max-width:{text:max post width}px!important;
}



#postinfo {
width:100%;
margin-top:-2px;
{block:Caption}
margin-top:4px;
{/block:Caption}  
margin-left:0px;
border-top:1px solid {color:border};
display:inline-block;
padding-right:20px;
vertical-align:text-top;
{block:Answer}
margin-top:-10px!important;
{/block:Answer}
text-align:left;
}
/*tags*/
#tags {
width:100%;
text-transform:none;
margin-left:-14px;
font-size:11px;;
padding-left:25px;
text-align:left;
padding-bottom:12px;
opacity:0.8;
}
#tags a {
color:{color:text};
margin-left:-3px;
font-weight:400;
padding-right:5px;
}
#tags a:hover {
color:{color:accent1};
}
/*like, reblog, etc*/
.options i {
color:{color:accent2}; 
-moz-transition-duration:0.4s;
-webkit-transition-duration:0.4s;
-o-transition-duration:0.4s;
}
.like:hover i {
color:{color:accent1}; 
}
.options i:hover {
color:{color:accent1}; 
}
.options .reblog {
opacity:.93;
}
.like:hover {
color:{color:accent1};
}
.like:hover a {
color:{color:accent1};
}
.reblog:hover .fa-spin-hover {
-webkit-animation: fa-spin 2s infinite linear;
-moz-animation: fa-spin 2s infinite linear;
-o-animation: fa-spin 2s infinite linear;
animation: fa-spin 2s infinite linear;
}
.fa-spin-fix .fa-spin {
-webkit-transform-origin: 50% calc(50% - .5px);
transform-origin: 50% calc(50% - .5px);
}
.options a:hover,  .options a:hover i {
color:{color:accent1};
}
.options:hover {
color:{color:accent1};
}
.options .like .liked + i {
color:#ec5a5a;
}
.options .like .like_button {
position:relative;
}
.options .like .like_button iframe {
position:absolute;
top:0;
left:0;
bottom:0;
right:0;
z-index:2;
opacity:0;
}
/*notes!*/
.pagenotes {
{block:IndexPage}
display: none!important;
{/block:IndexPage}
width:{text:max post width};
text-align:left;
}
.notes {
font-size:8px!important;
}
.pagenotes img {
display:none!important;
}
.pagenotes li {
list-style-type:none;
padding:2px 0px;
font-size:8px;
text-align:left;
margin:0 0 0 -40px;
} 
      /*required for post fadein*/
.hideme {
opacity:0;
transition:0.3s all;
}



.topbar {
height:0px;
width:0px;
overflow:hidden;
}

/* ---------------------------------------------------
TOOLTIPS
----------------------------------------------------- */
.tooltip{
display: inline;
position: relative;
}
#s-m-t-tooltip {
max-width:300px; 
background-color:{color:accent1}; 
font-size:90%;
font-weight:500;
border-radius:5px;
letter-spacing:1px;
font-family:'Raleway', Arial;
padding:5px 5px 5px 5px;
color: {color:post background}; 
margin:20px 0px 0px 20px; 
z-index:9999999999999999999999;
}

/* ---------------------------------------------------
TUMBLR CONTROLS 
----------------------------------------------------- */
iframe.tmblr-iframe {
z-index:99999999999999!important;
top:0!important;
right:0!important;
opacity:0.4;
transform:scale(0.65);
transform-origin:100% 0;
-webkit-transform:scale(0.65);
-webkit-transform-origin:100% 0;
-o-transform:scale(0.65);
-o-transform-origin:100% 0;
-moz-transform:scale(0.65);
-moz-transform-origin:100% 0;
-ms-transform:scale(0.65);
-ms-transform-origin:100% 0;}
iframe.tmblr-iframe:hover {
opacity:0.6!important;}
.tmblr-iframe-compact .tmblr-iframe--unified-controls {
margin-top:-3px;
}
/* ---------------------------------------------------
SCROLLBAR
----------------------------------------------------- */
::-webkit-scrollbar {
width: 10px; /** width of total scrollbar **/
background: {color:accent1};
background:linear-gradient( to bottom, {color:accent1}, {color:accent2});
background: -webkit-linear-gradient(bottom, {color:accent1}, {color:accent2}); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(bottom, {color:accent1}, {color:accent2}); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(bottom, {color:accent1}, {color:accent2}); /* For Firefox 3.6 to 15 */
}
::-webkit-scrollbar-thumb {
background: {color:titlebg};
border:1px solid {color:titleborder};
width:10px;
background-clip: content-box;
}
@media  (max-width: 900px) {
   .my-container {
       flex-direction: column;
   }

   .img-sidebar {
       width: 0px;
       height: 0px;
       opacity: 0;
       overflow: hidden;
   }
   .topbar
   {
       min-height: 80px;

width: 100vw;
height: auto;
margin-bottom: 10px;
overflow: visible;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08), 0 6px 8px 0 rgba(0, 0, 0, 0.08);
}
     
   
   
   .topbar .navbar {
       min-height:80px;
       top:0px;
        background: {color:accent1}; 
   background: -moz-linear-gradient(right, {color:accent1} 0%, {color:accent2} 100%); 
background: -webkit-linear-gradient(right, {color:accent1} 0%, {color:accent2} 100%); 
background: linear-gradient(to right, {color:accent1} 0%,{color:accent2} 100%); 

   }
   
.topbar .navbar .navbar-toggler,  .topbar .navbar .navbar-nav a {
   color:{color:sidebarLink};
}

.navbar-toggler {
   margin-right:15px;
}

   .topbar .navbar .nav-item {
       padding-left:10px;
       text-align:center;
       
                 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 8px 0 rgba(0, 0, 0, 0.05);
   }
  

.topbar .navbar .navbar-menu {
width:100%;
display:flex;
justify-content:center;
align-items:center;
height:50px;

}


.topbar .navbar .navbar-menu a, .top-pagi {
width:30px;
height:30px;
margin-left:10px;
margin-right:10px;
line-height:30px;
text-align:center;
background:{color:sidebarLink};
color:{color:accent1};
border-radius:5px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 8px 0 rgba(0, 0, 0, 0.05);
}
   
   .sidebar {
      width:0px;
      overflow:hidden;
      height:0px;
   }
   
   .posts {
       margin:0 auto;
       margin-bottom:10px;
       margin-top:10px;
   }
   .posts-container {
       padding-left:15px;
       padding-right:15px;
   }
     
.user {
display:none!important;
}
   
   
}
</style>